.navbar-custom{
    color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}

li.nav-item.active:hover{
    color: var(--primary-color);
}