.profile{
    margin: 30px auto 80px auto;
    padding: 50px 20px 0px 20px;
}

.avatar{
    width: 250px;
    height: 250px;
    border: solid var(--img-border-color) 3px ;
    padding:5px;
}

.name{
    font-size: var(--h1-font-size);
    font-weight: bold;
    margin-bottom: 10px;
}

.role{
    font-size: var(--h2-font-size);
}

.dtl{
    max-width: 400px;
}

.dtl p{
    font-size: var(--h4-font-size);
}

.btn-icon{
    margin-bottom: 10px;
}

.mat-card-actions .btn-dnl{
    margin-left: 5px;
}