<nav class="navbar navbar-expand-md navbar-light bg-light navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler collapsed btn-icon"
                data-toggle="collapse"
                data-target="#mainNavBar"
                aria-controls="mainNavBar" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
                (click)="onClick()">
                <mat-icon>menu</mat-icon>
            </button>
            <a class="navbar-brand" routerLink="">
                <img src="favicon.ico" width="30px" height="30px" class="d-inline-block align-top" alt="RacPort"/>
                    RacPort
            </a>
        </div>

        <div class="collapse navbar-collapse" id="mainNavBar" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                <a class="nav-link" 
                    routerLink="" 
                    routerLinkActive="active-link" 
                    [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="about" routerLinkActive="active-link" fragment="about-me">About Me</a>
                </li>
            </ul>   
        </div>

        <div>
            <mat-card class="mat-elevation-z0">
                <mat-card-actions>
                    <button mat-button routerLink="" routerLinkActive="active-link" fragment="contact-me">Contact Me</button>
                </mat-card-actions>
            </mat-card>
        </div>
    
    </div>
</nav>

