.navbar-custom{
    color: var(--secondary-color);
    position: fixed;
    width: 100%;
}

.navbar-brand{
    font-size: var(--h2-font-size);
}

.navbar-collapse{
    margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}

li.nav-item.active:hover{
    color: var(--primary-color);
}