//Variable
$font-family: 'Poppins', sans-serif;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #5F00A0;
    --secondary-color: #545454;
    --img-border-color: #663a82; 
    --btn-text-color: white;
    --btn-unhover-color:#bca0dc;
    --semi-bold: 600;
    --bg-color:#FFEFFF;
    --page-bg-color:rgba(255,255,255, 0.9);
}

/* Media Screen*/
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  { 
    :root {
        --biggest-font-size: 1.85rem;
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --h4-font-size: .75rem;
        --normal-font-size: .75rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --img-height:400px;
     }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:480px)  { 
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --h4-font-size: .75rem;
        --normal-font-size: .75rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --img-height:400px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
    :root {
        --biggest-font-size: 2.25rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --h4-font-size: .75rem;
        --normal-font-size: .75rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --img-height:400px;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:968px)  { 
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --img-height:250px;
    } 
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --img-height:250px;
    } 
}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --img-height:280px;
    } 
 }

/* common style */
body{
    font-family: $font-family;
}

button{
    background-color: var(--btn-unhover-color);
    color: var(--btn-text-color);
    font-weight: var(--semi-bold);
}

button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h3-font-size);
}

p{
    font-size: var(--small-font-size);
    color: var(--secondary-color);
}

ul{
    list-style-type: none;
}

/* class common style */
.center{
    display: flex;
    justify-content: center;
}

.btn-icon{
    border: none;
    outline:none;
    background: none;
    color: var(--secondary-color);
}

.btn-icon:hover{
    border: none;
    outline:none;
    background: none;
    color: var(--primary-color);
}

.column{
    margin-right: 40px;
}



