<div class="ctm-container">
    <div class="center">
        <mat-card class="column">
            <mat-card-title align="center"><h1>Contact Me</h1></mat-card-title>
            <mat-card-subtitle align="center">Get in touch</mat-card-subtitle>
        </mat-card>
    </div>
    
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <div fxLayout="column"class="flex-container" fxFlex="30%">
            <mat-card align="center">
                <mat-icon>email</mat-icon>
                <mat-card-title>Email</mat-card-title>
                <mat-card-subtitle><a href="mailto:yeeshim2000@gmail.com">yeeshim2000@gmail.com</a></mat-card-subtitle>
            </mat-card>
        </div>  
        <div class="flex-container" fxFlex="30%">
            <mat-card align="center">
                <mat-icon>phone</mat-icon>
                <mat-card-title >Phone No</mat-card-title>
                <mat-card-subtitle> <a href="tel:016-6832717">016-6832717</a></mat-card-subtitle>
            </mat-card>
        </div>    
        <div class="flex-container" fxFlex="30%">
            <mat-card align="center">
                <mat-icon>location_on</mat-icon>
                <mat-card-title align="center">Location</mat-card-title>
                <mat-card-subtitle align="center">Kuala Lumpur, Malaysia</mat-card-subtitle>
            </mat-card>
        </div>      
    </div>
</div>

